<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- hibernate核心配置文件 -->
<hibernate-configuration>
	<!-- 设置JDBC 连接属性 -->
	<session-factory>

		<!-- SQL dialect 数据库方言 -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- 输出sql语句 -->
		<property name="show_sql">true</property>
		<!-- 格式化sql -->
		<property name="format_sql">true</property>

		<!-- 检测数据模型 在SessionFactory创建时，自动检查数据库结构 -->
		<property name="hbm2ddl.auto">update</property>

		
	
		    <mapping class="com.hq.model.User"/>
	</session-factory>

</hibernate-configuration>