<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- JDBC连接属性 -->
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/school?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="user" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 依赖连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- hibernate 配置文件 -->
		<property name="configLocations" value="classpath:hibernate.cfg.xml" />
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
	<!-- 	注入依赖对象 -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="save*" read-only="false" />
			<tx:method name="update*" read-only="false" />
			<tx:method name="delete*" read-only="false" />
			<tx:method name="get*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<!-- aop管理事务 -->
	<aop:config>
		<!-- 切点 -->
		<aop:pointcut expression="execution(* com.hq.service..*(..))"
			id="pc" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pc" />
	</aop:config>

	
	
	
	
	<!-- dao 层bean -->
	<bean id="userDao" class="com.hq.dao.UserDaoImpl">
		<!-- 依赖sessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userService" class="com.hq.service.UserServiceImpl">
		<!-- 依赖dao -->
		<property name="userDao" ref="userDao" />
	</bean>
	
	
<bean id="userAction" class="com.hq.actions.UserAction">
		<!-- 注入service依赖对象 -->
		<property name="userService" ref="userService"/>
	</bean>

</beans>